.card-1 {
  background-color: #037eba;
}

.card-2 {
  background-color: #a0af46;
}

.card-3 {
  background-color: #f88244;
}

.card-icon {
  font-size: 4rem;
}

@media screen and (min-width: 768px) {
  .card-icon {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1100px) {
  .card-icon {
    font-size: 5rem;
  }
}

.my-card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 !important;
  position: absolute;
  bottom: 0 !important;
}

.my-card-title {
  background-color: var(--sr-blue);
  margin: 0 !important;
  padding: 0;
  position: absolute;
  top: 0;
  transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
}

.my-card-desc {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 !important;
  padding: 0;
  font-size: 0.8rem !important;
}

.my-card-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
}

.card-circle-img {
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.card-dots {
  height: 8px;
  width: 8px;
  background-color: #bbb !important;
  cursor: pointer;
}

.card-active{
    background-color: var(--sr-blue) !important;
}

